@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./sources/fonts/karla_ext.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131,
    U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "La Belle Aurore";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./sources/fonts/karla_ext.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./sources/fonts/Shadows_Into_Light.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: inherit;
  font-family: "Karla", sans-serif;
  color: darkblue;
}

body {
  margin: 0;
  background-color: lightblue;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "La Belle Aurore", cursive;
}

*::selection {
  background-color: plum;
  color: beige;
}

a:link {
  /*unbesuchte Links*/
  color: dodgerblue;
}

a:visited {
  /*besuchte Links*/
  color: white;
}
a:hover {
  background-color: blue;
}
a:active {
  /*Element wird gerade aktiviert*/
  color: orange;
}

nav {
  padding: 1rem;
  background-color: rgb(147, 69, 181);
}

article {
  position: relative;
}

article + article {
  border-top: 0.25rem darkblue dotted;
}

section + header {
  display: inline;
}

/*section header > * {
  display: inline-block;
  border: 1px solid red;
}*/

article > * {
  padding-left: 2rem;
}

/*article > h2 {
  padding-left: 0;
}*/

.main {
  max-width: 75ch;
  margin: 0 auto;
  padding: 1rem;
}

a.navigation {
  margin-right: 6rem;
  background-color: orange;
  color: black;
  border: solid darkorange;
  padding: 0.5rem;
  margin: 1rem;
  display: inline-block;
}

a.navigation:link {
  text-decoration: none;
}

a.navigation:visited {
  text-decoration-thickness: 50%;
}

a.navigation:hover {
  background-color: red;
}

a.navigation.special:hover {
  background-color: blue;
}

.myheader {
  text-align: center;
  background-color: rgb(89, 6, 168);
  padding-top: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading-group {
  font-size: 5rem;
}

.title {
  font-size: 1em;
}

.subtitle {
  font-size: 0.25em;
}

a.btn-contact {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: aquamarine;
  border: solid darkcyan 0.15rem;
  text-decoration: none;
  color: rgb(89, 6, 168);
  font-weight: bold;
}

a.btn-contact:hover {
  background-color: orange;
}

.article-heading {
  position: relative;
  left: -2rem;
}

p.timeperiod {
  display: inline;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 0.05rem solid darkblue;
}

.section-heading {
  display: inline;
}
