@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/sources/fonts/karla_ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131,
    U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "La Belle Aurore";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/sources/fonts/labelleaurore.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*
@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/sources/fonts/Shadows_Into_Light.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
*/

/*
Farbpalette: https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77
*/

:root {
  --hellgelbgruen: #d9ed92;
  --gelbgruen: #b5e48c;
  --gruen: #99d98c;
  --mint: #76c893;
  --hellestuerkis: #52b69a;
  --tuerkis: #34a0a4;
  --petrol: #168aad;
  --dunkelpetrol: #1a759f;
  --blau: #1e6091;
  --dunkelblau: #184e77;

  --hintergrund-text: lightgray;
  --normaler-text: var(--dunkelblau);
  --ueberschrift: var(--petrol);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: inherit;
  font-family: "Karla", sans-serif;
  color: var(--normaler-text);
}

body {
  margin: 0;
  background-color: var(--hintergrund-text);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: var(--ueberschrift);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "La Belle Aurore", cursive;
}

*::selection {
  background-color: plum;
  color: beige;
}

a:link {
  /*unbesuchte Links*/
  color: var(--petrol);
}

a:visited {
  /*besuchte Links*/
  color: white;
}
a:hover {
  background-color: var(--gruen);
}
a:active {
  /*Element wird gerade aktiviert*/
  color: darkorange;
}

nav {
  padding: 1rem;

  /* https://projects.verou.me/css3patterns/#cross-dots */
  /* meine einfache Version siehe unten*/
  background: radial-gradient(var(--tuerkis) 3px, transparent 4px),
    radial-gradient(var(--tuerkis) 3px, transparent 4px),
    linear-gradient(var(--dunkelpetrol) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      var(--tuerkis) 75px,
      var(--tuerkis) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      var(--tuerkis) 76px,
      var(--tuerkis) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--dunkelpetrol);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

footer {
  height: 4rem;
  text-align: center;
  padding-top: 0.2rem;

  background: radial-gradient(var(--tuerkis) 3px, transparent 4px),
    radial-gradient(var(--tuerkis) 3px, transparent 4px),
    linear-gradient(var(--dunkelpetrol) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      var(--tuerkis) 75px,
      var(--tuerkis) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      var(--tuerkis) 76px,
      var(--tuerkis) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--dunkelpetrol);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.footer-contact::before {
  content: ":purple_heart:";
}

article {
  position: relative;
}

article + article {
  border-top: 0.25rem var(--dunkelblau) dotted;
}

section + header {
  display: inline;
}

/*section header > * {
  display: inline-block;
  border: 1px solid red;
}*/

article > * {
  padding-left: 2rem;
}

/*article > h2 {
  padding-left: 0;
}*/

.main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 75ch;
}

/* wird gerade wohl nicht beachtet */
/*
.scroller {
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rgb(84, 224, 198) green;
  scrollbar-width: thin;
  scroll-margin-top: 1300px;
  -webkit-line-break: ;
}
*/

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--mint);
}
::-webkit-scrollbar-thumb {
  background-color: var(--gelbgruen);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: greenyellow;
  border-radius: 0.5rem;
}

a.navigation-link {
  margin-right: 6rem;
  background-color: var(--gelbgruen);
  color: var(--dunkelpetrol);
  border: solid var(--hellestuerkis) 0.12rem;
  padding: 0.5rem;
  margin: 1rem;
  display: inline-block;
  transition: background-color 2s, border-width 2s;
}

a.navigation-link:link {
  text-decoration: none;
}

a.navigation-link:visited {
  color: darkorange;
}

a.navigation-link:hover {
  background-color: var(--mint);
  border: solid var(--tuerkis) 1rem;
}

a.navigation-link:focus {
  background-color: var(--mint);
  border: solid darkorange 1rem;
}

a.navigation-link.special:hover {
  background-color: greenyellow;
}

.myheader {
  text-align: center;
  /*background-color: rgb(89, 6, 168);*/
  background: rgb(52, 160, 164);
  background: linear-gradient(
    90deg,
    rgba(52, 160, 164, 1) 6%,
    rgba(30, 96, 145, 1) 75%
  );
  padding-top: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading-group {
  font-size: 5rem;
}

.title {
  font-size: 1em;
}

.subtitle {
  font-size: 0.25em;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

a.btn-contact {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--gelbgruen);
  border: solid var(--gruen) 0.15rem;
  margin: 1rem;
  text-decoration: none;
  color: var(--dunkelblau);
  font-weight: bold;
}

a.btn-contact:hover {
  background-color: darkorange;
}

.bild {
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background-image: url(https://images.pexels.com/photos/10907619/pexels-photo-10907619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: top right;
  border: 0.2rem solid var(--dunkelblau);
  align-items: center;
}

.article-heading {
  position: relative;
  left: -2rem;
}

/*
p.timeperiod {
  display: inline;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 0.05rem solid darkblue;
}
*/

.section-heading {
  display: inline;
}
@media print {
  html {
    color: black;
  }
  body {
    background-color: white;
  }
  nav,
  aside,
  .bild,
  footer {
    display: none;
  }

  article + article {
    border-top: 0.25rem black dotted;
  }

  .myheader {
    background-color: #ccc;
  }
}

.experience-title {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

/*
.theme {
  all: unset;
}*/

.schieberegler-rand {
  width: 50px;
  height: 20px;
  border: 2px solid var(--dunkelblau);
  border-radius: 50px;

  display: inline-block;

  position: relative;
}

.schieberegler-ball {
  background-color: var(--dunkelblau);

  width: 10px;
  height: 10px;
  border-radius: 50%;

  display: inline-block;

  position: absolute;
  top: 50%;
  left: 5px;

  transform: translateY(-50%);
  transition: left 0.2s;
}

#user-theme:checked + label .schieberegler-ball {
  /* 
  wenn Checkbox aktiviert: 
  dann wähle dazugehöriges Label 
  und davon das Child mit Class schieberegler (also den span im span)
  */
  left: calc(100% - 10px - 5px);
}

/* medium breakpoint */
@media screen and (min-width: 786px) {
  html {
    font-size: 16px;
  }

  article + article {
    margin-top: 5rem;
  }

  .navigation {
    flex-direction: row;
    justify-content: center;
  }

  .experience-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

/* large breakpoint */
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  article + article {
    margin-top: 10rem;
  }

  a.btn-contact {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
  }

  .bild {
    position: absolute;
    top: 3rem;
    left: 20ch;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --hintergrund-text: var(--blau);
    --normaler-text: white;
    --ueberschrift: var(--gelbgruen);
  }
}

/*
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
  background-color: pink;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 50%);
  border-radius: 0.5rem;
}
*/

/*
CSS Hintergrund in simpel

.meins{
  height: 300px;
  background:
            radial-gradient(green, green 10%, transparent 10%),                     Punkt Mitte
            radial-gradient(red, red 10%, transparent 10%),                         Punkt unten rechts
            linear-gradient(45deg, transparent 49%, blue 50%, transparent 51%),     Linie 1
            linear-gradient(-45deg, transparent 49%, purple 50%, transparent 51%),  Linie 2
            lightblue;                                                              Hintergrund
  background-size: 109px 109px;
  background-position: 54px 55px, 10px 10px, 0px 0px, 0px 0px, 0px 0px,;
  background-repeat: no-repeat;
}
}
*/
